* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #f8fc76 0%, #37bc34 100%);
}

.options {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
}

.options img {
    width: 150px;
    height: 150px;
}

.options #rock:hover,
#paper:hover,
#scissors:hover {
    transform: scale(1.2);
}

.options #rock,
#paper,
#scissors {
    cursor: pointer;
}

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    /*experiment:*/
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    /*experiment*/
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    padding-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.you {
    padding-bottom: 10px;
    color: #444;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game {
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
}

.new-game:hover {
    transform: scale(1.2);
}

.rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #d0d3d8 0%, #f5f7fa 74%);
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.round {
    color: #333;
    background: none;
    border: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.number {
    display: flex;
    color: #333;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 10rem;
    margin-top: -20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer {
    padding-bottom: 10px;
    color: #444;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
}

.right img {
    transform: scaleX(-1);
}

.score-board img {
    width: 150px;
    height: 150px;
}

.score-container {
    display: flex;
    outline: #333 solid;
    margin-top: 50px;
    color: #444;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.7rem 2.5rem;
    background-color: white;
    border-radius: 50rem;
}

.score {
    padding-right: 10px;
}

.score-computer-container {
    display: flex;
    outline: #333 solid;
    margin-top: 50px;
    color: #444;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.7rem 2.5rem;
    background-color: white;
    border-radius: 50rem;
}

.game-end {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: 9.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.726);
}

.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}