* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.options {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /*experiment:*/
    /*experiment*/
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
}

.options img {
    width: 150px;
    height: 150px;
}

.options .rock:hover,
.paper:hover,
.scissors:hover {
    transform: scale(1.2);
}

.options .rock,
.paper,
.scissors {
    cursor: pointer;
}

.bottom-container {
    display: flex;
    justify-content: center;
}

.score-board {
    display: flex;
    padding-left: 750px;
    padding-bottom: 400px;
    background-color: #772f1a;
    opacity: 1;
    border-radius: 5%;
    /*experiment:*/
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    /*experiment*/
}